<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.pc.extension.dao.PcAccountDAO">

    <resultMap type="com.hp.sh.expv3.pc.extension.vo.PcAccountVo" id="PcAccountVo">
        <result column="asset" property="asset"/>
        <result column="balance" property="balance"/>
        <result column="version" property="version"/>
        <result column="user_id" property="userId"/>
        <result column="created" property="created"/>
        <result column="modified" property="modified"/>
    </resultMap>

    <sql id="simple_where">
        where 1=1
        <if test="userIdList!=null">and user_id in
            <foreach item="item" index="i" collection="userIdList" open="(" separator="," close=")">
                #{userIdList[${i}]}
            </foreach>
        </if>
        <if test="assetList!=null">and asset in
            <foreach item="item" index="i" collection="assetList" open="(" separator="," close=")">
                #{assetList[${i}]}
            </foreach>
        </if>
        <if test="userId!=null">and user_id=#{userId}</if>
        <if test="asset!=null and asset!=''">and asset=#{asset}</if>
        <if test="balance!=null and balance!=''">and balance=#{balance}</if>
        <if test="version!=null">and version=#{version}</if>
        <if test="createdBegin!=null and createdBegin!=''">and created &gt;= #{createdBegin}</if>
        <if test="createdEnd!=null and createdEnd!=''">and created &lt;= #{createdEnd}</if>
        <if test="modifiedBegin!=null and modifiedBegin!=''">and modified &gt;= #{modifiedBegin}</if>
        <if test="modifiedEnd!=null and modifiedEnd!=''">and modified &lt;= #{modifiedEnd}</if>
    </sql>

    <sql id="Base_Column_List">
		asset,balance,version,user_id,created,modified
	</sql>

    <select id="get" resultMap="PcAccountVo">
        select
        <include refid="Base_Column_List"/>
        from pc_account
        where user_id=#{userId} and asset=#{asset}
    </select>

    <select id="queryList" resultMap="PcAccountVo">
        select
        <include refid="Base_Column_List"/>
        from pc_account
        <include refid="simple_where"/>
    </select>

    <select id="queryOne" resultMap="PcAccountVo">
        select
        <include refid="Base_Column_List"/>
        from pc_account
        <include refid="simple_where"/>
    </select>

    <select id="queryTotalNumber" resultType="java.math.BigDecimal">
        SELECT SUM(balance) AS total from pc_account p where p.asset=#{asset}
    </select>

</mapper>