<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.pc.module.collector.dao.PcCollectorAccountDAO">

	<resultMap type="com.hp.sh.expv3.pc.module.collector.entity.PcCollectorAccount" id="PcCollectorAccount">
		<result column="collector_id" property="collectorId" />
		<result column="asset" property="asset" />
		<result column="balance" property="balance" />
		<result column="version" property="version" />
		<result column="created" property="created" />
		<result column="modified" property="modified" />
	</resultMap>

	<sql id="Base_Column_List" >
		collector_id,asset,balance,version,created,modified
	</sql>

	<sql id="simple_where">
		<where>
			<if test="collectorId!=null and collectorId!=''"> and collector_id=#{collectorId}</if>
			<if test="asset!=null and asset!=''"> and asset=#{asset}</if>
			<if test="symbol!=null and symbol!=''"> and symbol=#{symbol}</if>
			<if test="createdStart!=null"> and created &gt;= #{createdStart}</if>
			<if test="createdEnd!=null"> and created &lt;= #{createdEnd}</if>
			<if test="modifiedStart!=null"> and modified &gt;= #{modifiedStart}</if>
			<if test="modifiedEnd!=null"> and modified &lt;= #{modifiedEnd}</if>
			<if test="version!=null"> and version=#{version}</if>
			<if test="keyword!=null and keyword!=''"> and asset like CONCAT('%',#{keyword},'%')</if>
		</where>
	</sql>

	<sql id="simple_query" >
		select
			<include refid="Base_Column_List" />
		from pc_collector_account
			<include refid="simple_where" />
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy} <if test="!asc">desc</if>
		</if>

	</sql>

	<select id="pageQuery" resultMap="PcCollectorAccount">
		<include refid="simple_query" />
	</select>

	<select id="queryList" resultMap="PcCollectorAccount">
		<include refid="simple_query" />
	</select>

	<select id="queryOne" resultMap="PcCollectorAccount">
		<include refid="simple_query" />
	</select>

	<select id="queryCount" resultType="long">
		select 
		<choose>
			<when test="SUM!=null">
				sum(${SUM})
			</when>
			<otherwise>
				count(1)
			</otherwise>
		</choose>
		from pc_collector_account
		<include refid="simple_where" />
	</select>

	<select id="exist" resultType="boolean">
		select 
			count(1)
		from 
			pc_collector_account
		<include refid="simple_where" />
		limit 1
	</select>


	<insert id="save">
		insert into pc_collector_account (
			collector_id,asset,balance,version,created,modified
		)values(
			#{collectorId},#{asset},#{balance},#{version},#{created},#{modified}
		)
	</insert>
	
	<update id="update">
		update 
			pc_collector_account
		set 
			asset=#{asset},balance=#{balance},version=${version}+1,created=#{created},modified=#{modified}
		where 
			collector_id=#{collectorId} and asset=#{asset} and version=#{version}
	</update>

    <delete id="condDelete">
        delete from pc_collector_account
		<include refid="simple_where" />
    </delete>

	<!--  -->

	<select id="get" resultMap="PcCollectorAccount">
		select
			<include refid="Base_Column_List" />
		from pc_collector_account
			where collector_id=#{collectorId} and asset=#{asset}
	</select>
	
</mapper>