<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.pc.module.order.dao.PcOrderTradeSnDAO">

	<resultMap type="com.hp.sh.expv3.pc.module.order.entity.PcOrderTradeSn" id="PcOrderTradeSn">
		<result column="trade_sn" property="tradeSn" />
		<result column="id" property="id" />
		<result column="tx_id" property="txId" />
	</resultMap>

	<sql id="Base_Column_List" >
		trade_sn,id,tx_id
	</sql>

	<sql id="simple_where" >
		<where>
		<if test="id!=null"> and id=#{id}</if>
		<if test="txId!=null"> and tx_id=#{txId}</if>
		<if test="keyword!=null and keyword!=''"> and CONCAT(IFNULL(trade_sn,''),'') like CONCAT('%',#{keyword},'%')</if>	</where>
	</sql>

	<sql id="simple_query" >
		select
			<include refid="Base_Column_List" />
		from pc_order_trade_sn
			<include refid="simple_where" />
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy} <if test="!asc">desc</if>
		</if>

	</sql>

	<select id="pageQuery" resultMap="PcOrderTradeSn">
		<include refid="simple_query" />
	</select>

	<select id="queryList" resultMap="PcOrderTradeSn">
		<include refid="simple_query" />
	</select>

	<select id="queryOne" resultMap="PcOrderTradeSn">
		<include refid="simple_query" />
	</select>

	<select id="queryCount" resultType="long">
		select 
		<choose>
			<when test="SUM!=null">
				sum(${SUM})
			</when>
			<otherwise>
				count(1)
			</otherwise>
		</choose>
		from pc_order_trade_sn
		<include refid="simple_where" />
	</select>

	<select id="findById" resultMap="PcOrderTradeSn">
		select
			<include refid="Base_Column_List" />
		from pc_order_trade_sn
			where id=#{id}
	</select>

	<select id="exist" resultType="long">
		select EXISTS(
			select 
				1
			from 
				pc_order_trade_sn
			where 
				trade_sn=#{tradeSn}
			limit 1
		)
	</select>

	<insert id="save">
		insert into pc_order_trade_sn (
			trade_sn,id,tx_id
		)values(
			#{tradeSn},#{id},#{txId}
		)
	</insert>

	<!--  -->
	
</mapper>