<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hp.sh.expv3.pc.module.order.dao.PcOrderDAO">

	<resultMap type="com.hp.sh.expv3.pc.module.order.entity.PcOrder" id="PcOrder">
		<result column="id" property="id" />
		<result column="asset" property="asset" />
		<result column="symbol" property="symbol" />
		<result column="close_flag" property="closeFlag" />
		<result column="long_flag" property="longFlag" />
		<result column="leverage" property="leverage" />
		<result column="volume" property="volume" />
		<result column="face_value" property="faceValue" />
		<result column="price" property="price" />
		<result column="order_type" property="orderType" />
		<result column="time_in_force" property="timeInForce" />
		<result column="margin_mode" property="marginMode" />
		<result column="open_fee_ratio" property="openFeeRatio" />
		<result column="close_fee_ratio" property="closeFeeRatio" />
		<result column="margin_ratio" property="marginRatio" />
		<result column="client_order_id" property="clientOrderId" />
		<result column="open_fee" property="openFee" />
		<result column="close_fee" property="closeFee" />
		<result column="order_margin" property="orderMargin" />
		<result column="gross_margin" property="grossMargin" />
		<result column="status" property="status" />
		<result column="active_flag" property="activeFlag" />
		<result column="remark" property="remark" />
		<result column="cancel_time" property="cancelTime" />
		<result column="cancel_volume" property="cancelVolume" />
		<result column="fee_cost" property="feeCost" />
		<result column="filled_volume" property="filledVolume" />
		<result column="close_pos_id" property="closePosId" />
		<result column="trigger_flag" property="triggerFlag" />
		<result column="version" property="version" />
		<result column="visible_flag" property="visibleFlag" />
		<result column="liq_flag" property="liqFlag" />
		<result column="create_operator" property="createOperator" />
		<result column="cancel_operator" property="cancelOperator" />
		<result column="user_id" property="userId" />
		<result column="created" property="created" />
		<result column="modified" property="modified" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,asset,symbol,close_flag,long_flag,leverage,volume,face_value,price,order_type,time_in_force,margin_mode,open_fee_ratio,close_fee_ratio,margin_ratio,client_order_id,open_fee,close_fee,order_margin,gross_margin,status,active_flag,remark,cancel_time,cancel_volume,fee_cost,filled_volume,close_pos_id,trigger_flag,version,visible_flag,liq_flag,create_operator,cancel_operator,user_id,created,modified
	</sql>

	<sql id="simple_where">
		<where>
			<if test="idList!=null">
				and id in
				<foreach item="item" index="i" collection="idList" open="("
					separator="," close=")">
					#{idList[${i}]}
				</foreach>
			</if>
			<if test="userId!=null"> and user_id=#{userId}</if>
			
			<if test="asset!=null and asset!=''"> and asset=#{asset}</if>
			<if test="symbol!=null and symbol!=''"> and symbol=#{symbol}</if>
			
			<if test="visibleFlag!=null"> and visible_flag=#{visibleFlag}</if>
			<if test="clientOrderId!=null and clientOrderId!=''">and client_order_id=#{clientOrderId}</if>
			<if test="closeFlag!=null"> and close_flag=#{closeFlag}</if>
			<if test="longFlag!=null"> and long_flag=#{longFlag}</if>
			<if test="orderType!=null"> and order_type=#{orderType}</if>
			<if test="timeInForce!=null"> and time_in_force=#{timeInForce}</if>
			<if test="marginMode!=null"> and margin_mode=#{marginMode}</if>
			<if test="status!=null"> and status=#{status}</if>
			<if test="activeFlag!=null"> and active_flag=#{activeFlag}</if>
			<if test="cancelTimeStart!=null"> and cancel_time &gt;= #{cancelTimeStart}</if>
			<if test="cancelTimeEnd!=null"> and cancel_time &lt;= #{cancelTimeEnd}</if>
			<if test="closePosId!=null"> and close_pos_id=#{closePosId}</if>
			<if test="triggerFlag!=null"> and trigger_flag=#{triggerFlag}</if>
			<if test="createdStart!=null"> and created &gt;= #{createdStart}</if>
			<if test="createdEnd!=null"> and created &lt;= #{createdEnd}</if>
			<if test="modifiedStart!=null"> and modified &gt;= #{modifiedStart}</if>
			<if test="modifiedEnd!=null"> and modified &lt;= #{modifiedEnd}</if>
		</where>
	</sql>

	<sql id="simple_query" >
		select
			<include refid="Base_Column_List" />
		from pc_order
			<include refid="simple_where" />
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy} <if test="!asc">desc</if>
		</if>

	</sql>

	<select id="pageQuery" resultMap="PcOrder">
		<include refid="simple_query" />
	</select>

	<select id="queryList" resultMap="PcOrder">
		<include refid="simple_query" />
	</select>

	<select id="queryOne" resultMap="PcOrder">
		<include refid="simple_query" />
	</select>

	<select id="queryCount" resultType="long">
		select 
		<choose>
			<when test="SUM!=null">
				sum(${SUM})
			</when>
			<otherwise>
				count(1)
			</otherwise>
		</choose>
		from pc_order
		<include refid="simple_where" />
	</select>

	<select id="findById" resultMap="PcOrder">
		select
			<include refid="Base_Column_List" />
		from pc_order
			where id=#{id} and user_id=#{userId}
	</select>
	
	<select id="lockById" resultMap="PcOrder">
		select
			<include refid="Base_Column_List" />
		from pc_order
			where id=#{id} and user_id=#{userId}
		for update
	</select>

	<select id="exist" resultType="boolean">
		select 
			count(1)
		from 
			pc_order
		<include refid="simple_where" />
		limit 1
	</select>

	<insert id="save">
		insert into pc_order (
			id,asset,symbol,close_flag,long_flag,leverage,volume,face_value,price,order_type,time_in_force,margin_mode,open_fee_ratio,close_fee_ratio,margin_ratio,client_order_id,open_fee,close_fee,order_margin,gross_margin,status,active_flag,remark,cancel_time,cancel_volume,fee_cost,filled_volume,close_pos_id,trigger_flag,version,visible_flag,liq_flag,create_operator,cancel_operator,user_id,created,modified
		)values(
			#{id},#{asset},#{symbol},#{closeFlag},#{longFlag},#{leverage},#{volume},#{faceValue},#{price},#{orderType},#{timeInForce},#{marginMode},#{openFeeRatio},#{closeFeeRatio},#{marginRatio},#{clientOrderId},#{openFee},#{closeFee},#{orderMargin},#{grossMargin},#{status},#{activeFlag},#{remark},#{cancelTime},#{cancelVolume},#{feeCost},#{filledVolume},#{closePosId},#{triggerFlag},#{version},#{visibleFlag},#{liqFlag},#{createOperator},#{cancelOperator},#{userId},#{created},#{modified}
		)
	</insert>
	
	<update id="update">
		update 
			pc_order
		set 
			asset=#{asset},symbol=#{symbol},close_flag=#{closeFlag},long_flag=#{longFlag},leverage=#{leverage},volume=#{volume},face_value=#{faceValue},price=#{price},order_type=#{orderType},time_in_force=#{timeInForce},margin_mode=#{marginMode},open_fee_ratio=#{openFeeRatio},close_fee_ratio=#{closeFeeRatio},margin_ratio=#{marginRatio},client_order_id=#{clientOrderId},open_fee=#{openFee},close_fee=#{closeFee},order_margin=#{orderMargin},gross_margin=#{grossMargin},status=#{status},active_flag=#{activeFlag},remark=#{remark},cancel_time=#{cancelTime},cancel_volume=#{cancelVolume},fee_cost=#{feeCost},filled_volume=#{filledVolume},close_pos_id=#{closePosId},trigger_flag=#{triggerFlag},version=${version}+1,visible_flag=#{visibleFlag},liq_flag=#{liqFlag},create_operator=#{createOperator},cancel_operator=#{cancelOperator},user_id=#{userId},created=#{created},modified=#{modified}
		where 
			id=#{id} and user_id=#{userId} and version=#{version}
	</update>

	<!--  -->
	
	<update id="updateStatus">
		update 
			pc_order
		set 
			status=#{newStatus}, modified=#{modified}, version=${version}+1
		where 
			id=#{orderId} and user_id=#{userId} and version=#{version}
	</update>

	<update id="updateCancelStatus">
		update 
			pc_order
		set 
			status=#{cancelStatus}, modified=#{modified}, cancel_time=#{modified}
		where 
			id=#{orderId} and user_id=#{userId}
			and status != #{status1} and status != #{status2} and active_flag=#{activeFlag}
	</update>

	<select id="getClosingVolume" resultType="java.math.BigDecimal">
		SELECT
			sum(o.volume - o.cancel_volume - o.filled_volume)
		FROM
			pc_active_order ao
		LEFT JOIN 
			pc_order o ON o.id = ao.id
		where 
			ao.user_id=#{userId}
			and ao.asset=#{asset}
			and ao.symbol=#{symbol}
			and o.close_pos_id=#{posId}
	</select>
	
	<select id="queryUserActiveOrderList" resultMap="PcOrder">
		SELECT
			o.*
		FROM
			pc_active_order ao
		LEFT JOIN 
			pc_order o ON o.id = ao.id
		<where>
			ao.user_id=#{userId}
			<if test="startId!=null"> and ao.id &gt; #{startId}</if>
			<if test="asset!=null and asset!=''"> and ao.asset=#{asset}</if>
			<if test="symbol!=null and symbol!=''"> and ao.symbol=#{symbol}</if>
			<if test="status!=null"> and o.status=#{status}</if>
			<if test="liqFlag!=null"> and o.liq_flag=#{liqFlag}</if>
		</where>
			order by id asc
	</select>
	
	<select id="queryActiveOrderList" resultMap="PcOrder">
		SELECT
			o.*
		FROM
			pc_active_order ao
		LEFT JOIN 
			pc_order o ON o.id = ao.id
		<where>
			<if test="startId!=null"> and ao.id &gt; #{startId}</if>
			<if test="asset!=null and asset!=''"> and ao.asset=#{asset}</if>
			<if test="symbol!=null and symbol!=''"> and ao.symbol=#{symbol}</if>
			<if test="createdEnd!=null"> and o.created &lt;= #{createdEnd}</if>
			<if test="status!=null"> and o.status=#{status}</if>
			<if test="liqFlag!=null"> and o.liq_flag=#{liqFlag}</if>
		</where>
			order by ao.id asc
	</select>

</mapper>