<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hp.sh.expv3.pc.module.trade.dao.PcPositionDAO">

	<resultMap type="com.hp.sh.expv3.pc.module.position.entity.PcPosition" id="PcPosition">
		<result column="id" property="id" />
		<result column="account_id" property="accountId" />
		<result column="symbol" property="symbol" />
		<result column="asset" property="asset" />
		<result column="liq_mark_price" property="liqMarkPrice" />
		<result column="liq_mark_time" property="liqMarkTime" />
		<result column="liq_status" property="liqStatus" />
		<result column="long_flag" property="longFlag" />
		<result column="margin_mode" property="marginMode" />
		<result column="amt" property="amt" />
		<result column="leverage" property="leverage" />
		<result column="entry_leverage" property="entryLeverage" />
		<result column="volume" property="volume" />
		<result column="entry_price" property="entryPrice" />
		<result column="pos_margin" property="posMargin" />
		<result column="liq_price" property="liqPrice" />
		<result column="bankrupt_price" property="bankruptPrice" />
		<result column="hold_ratio" property="holdRatio" />
		<result column="init_margin" property="initMargin" />
		<result column="realised_pnl" property="realisedPnl" />
		<result column="auto_add_flag" property="autoAddFlag" />
		<result column="fee_cost" property="feeCost" />
		<result column="remark" property="remark" />
		<result column="created" property="created" />
		<result column="modified" property="modified" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,account_id,symbol,asset,liq_mark_price,liq_mark_time,liq_status,long_flag,margin_mode,amt,leverage,entry_leverage,volume,entry_price,pos_margin,liq_price,bankrupt_price,hold_ratio,init_margin,realised_pnl,auto_add_flag,fee_cost,remark,created,modified
	</sql>

	<sql id="simple_where" >
		<where>
		<if test="idList!=null">
		and id in
		<foreach item="item" index="i" collection="idList" open="(" separator="," close=")">
		#{idList[${i}]}
		</foreach>
		</if>
		<if test="accountId!=null"> and account_id=#{accountId}</if>
		<if test="liqMarkTime!=null"> and liq_mark_time=#{liqMarkTime}</if>
		<if test="liqStatus!=null"> and liq_status=#{liqStatus}</if>
		<if test="longFlag!=null"> and long_flag=#{longFlag}</if>
		<if test="marginMode!=null"> and margin_mode=#{marginMode}</if>
		<if test="autoAddFlag!=null"> and auto_add_flag=#{autoAddFlag}</if>
		<if test="createdStart!=null"> and created &gt;= #{createdStart}</if>
		<if test="createdEnd!=null"> and created &lt;= #{createdEnd}</if>
		<if test="modifiedStart!=null"> and modified &gt;= #{modifiedStart}</if>
		<if test="modifiedEnd!=null"> and modified &lt;= #{modifiedEnd}</if>
		<if test="keyword!=null and keyword!=''"> and CONCAT(IFNULL(symbol,''),IFNULL(asset,''),IFNULL(remark,''),'') like CONCAT('%',#{keyword},'%')</if>	</where>
	</sql>

	<sql id="simple_query" >
		select
			<include refid="Base_Column_List" />
		from pc_position
			<include refid="simple_where" />
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy} <if test="!asc">desc</if>
		</if>

	</sql>

	<select id="pageQuery" resultMap="PcPosition">
		<include refid="simple_query" />
	</select>

	<select id="queryList" resultMap="PcPosition">
		<include refid="simple_query" />
	</select>

	<select id="queryOne" resultMap="PcPosition">
		<include refid="simple_query" />
	</select>

	<select id="queryCount" resultType="long">
		select 
		<choose>
			<when test="SUM!=null">
				sum(${SUM})
			</when>
			<otherwise>
				count(1)
			</otherwise>
		</choose>
		from pc_position
		<include refid="simple_where" />
	</select>

	<select id="findById" resultMap="PcPosition">
		select
			<include refid="Base_Column_List" />
		from pc_position
			where id=#{id}
	</select>

	<select id="exist" resultType="boolean">
		select 
			count(1)
		from 
			pc_position
		<include refid="simple_where" />
		limit 1
	</select>


	<insert id="save">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into pc_position (
			id,account_id,symbol,asset,liq_mark_price,liq_mark_time,liq_status,long_flag,margin_mode,amt,leverage,entry_leverage,volume,entry_price,pos_margin,liq_price,bankrupt_price,hold_ratio,init_margin,realised_pnl,auto_add_flag,fee_cost,remark,created,modified
		)values(
			#{id},#{accountId},#{symbol},#{asset},#{liqMarkPrice},#{liqMarkTime},#{liqStatus},#{longFlag},#{marginMode},#{amt},#{leverage},#{entryLeverage},#{volume},#{entryPrice},#{posMargin},#{liqPrice},#{bankruptPrice},#{holdRatio},#{initMargin},#{realisedPnl},#{autoAddFlag},#{feeCost},#{remark},#{created},#{modified}
		)
	</insert>
	
	<update id="update">
		update 
			pc_position
		set 
			account_id=#{accountId},symbol=#{symbol},asset=#{asset},liq_mark_price=#{liqMarkPrice},liq_mark_time=#{liqMarkTime},liq_status=#{liqStatus},long_flag=#{longFlag},margin_mode=#{marginMode},amt=#{amt},leverage=#{leverage},entry_leverage=#{entryLeverage},volume=#{volume},entry_price=#{entryPrice},pos_margin=#{posMargin},liq_price=#{liqPrice},bankrupt_price=#{bankruptPrice},hold_ratio=#{holdRatio},init_margin=#{initMargin},realised_pnl=#{realisedPnl},auto_add_flag=#{autoAddFlag},fee_cost=#{feeCost},remark=#{remark},created=#{created},modified=#{modified}
		where 
			id=#{id}
	</update>

	<delete id="delete">
        delete from pc_position where id=#{id}
    </delete>

    <delete id="condDelete">
        delete from pc_position
		<include refid="simple_where" />
    </delete>

	<!--  -->
	
</mapper>