<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.bb.extension.dao.BbAccountRecordExtMapper">

    <resultMap type="com.hp.sh.expv3.bb.extension.vo.BbAccountRecordVo" id="BbAccountRecordVo">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="asset" property="asset"/>
        <result column="sn" property="sn"/>
        <result column="type" property="type"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="balance" property="balance"/>
        <result column="trade_no" property="tradeNo"/>
        <result column="trade_type" property="tradeType"/>
        <result column="serial_no" property="serialNo"/>
        <result column="associated_id" property="associatedId"/>
        <result column="tx_id" property="txId"/>
        <result column="request_id" property="requestId"/>
        <result column="modified" property="modified"/>
        <result column="created" property="created"/>
    </resultMap>

    <sql id="simple_where">
        <where>
            <if test="idList!=null">and id in
                <foreach item="item" index="i" collection="idList" open="(" separator="," close=")">
                    #{idList[${i}]}
                </foreach>
            </if>
            <if test="userIdList!=null">and user_id in
                <foreach item="item" index="i" collection="userIdList" open="(" separator="," close=")">
                    #{userIdList[${i}]}
                </foreach>
            </if>
            <if test="assetList!=null">and asset in
                <foreach item="item" index="i" collection="assetList" open="(" separator="," close=")">
                    #{assetList[${i}]}
                </foreach>
            </if>
            <if test="id!=null">and id=#{id}</if>
            <if test="userId!=null">and user_id=#{userId}</if>
            <if test="asset!=null and asset!=''">and asset=#{asset}</if>
            <if test="sn!=null and sn!=''">and sn=#{sn}</if>
            <if test="type!=null">and `type`=#{type}</if>
            <if test="amount!=null">and amount=#{amount}</if>
            <if test="remark!=null  and remark!=''">and remark=#{remark}</if>
            <if test="balance!=null">and balance=#{balance}</if>
            <if test="tradeNo!=null and tradeNo!=''">and trade_no=#{tradeNo}</if>
            <if test="tradeType!=null">and trade_type=#{tradeType}</if>
            <if test="serialNo!=null">and serial_no=#{serialNo}</if>
            <if test="associatedId!=null">and associated_id=#{associatedId}</if>
            <if test="txId!=null">and tx_id=#{txId}</if>
            <if test="requestId!=null">and request_id=#{requestId}</if>
            <if test="createdBegin!=null">and created &gt;= #{createdBegin}</if>
            <if test="createdEnd!=null">and created &lt;= #{createdEnd}</if>
            <if test="modifiedBegin!=null">and modified &gt;= #{modifiedBegin}</if>
            <if test="modifiedEnd!=null">and modified &lt;= #{modifiedEnd}</if>
        </where>
    </sql>

    <sql id="Base_Column_List">
		id,user_id,asset,sn,`type`,amount,remark,balance,trade_no,trade_type,serial_no,associated_id,tx_id,request_id,modified,created
	</sql>



    <select id="queryOne" resultMap="BbAccountRecordVo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bb_account_record
        <include refid="simple_where"/>
    </select>

    <select id="queryList" resultMap="BbAccountRecordVo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bb_account_record
        <include refid="simple_where"/>
    </select>

    <select id="queryByIds" resultType="com.hp.sh.expv3.bb.extension.vo.BbAccountRecordVo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bb_account_record
        <where>
            <if test="idList!=null"> id in
                <foreach item="item" index="i" collection="idList" open="(" separator="," close=")">
                    #{idList[${i}]}
                </foreach>
            </if>
        </where>

    </select>


</mapper>