<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.pj.module.admin.mapper.AdminDAO">

	<resultMap type="com.hp.sh.expv3.pj.module.admin.entity.Admin" id="Admin">
		<result column="id" property="id" />
		<result column="username" property="username" />
		<result column="passwd" property="passwd" />
		<result column="remark" property="remark" />
		<result column="type" property="type" />
		<result column="enabled" property="enabled" />
		<result column="created" property="created" />
		<result column="modified" property="modified" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,username,passwd,remark,type,enabled,created,modified
	</sql>

	<sql id="simple_where" >
		where 1=1
		<if test="idList!=null">
		and id in
		<foreach item="item" index="i" collection="idList" open="(" separator="," close=")">
		#{idList[${i}]}
		</foreach>
		</if>
		<if test="username!=null and username!=''"> and username=#{username}</if>
		<if test="type!=null"> and type=#{type}</if>
		<if test="enabled!=null"> and enabled=#{enabled}</if>
		<if test="createdBegin!=null"> and created &gt;= #{createdBegin}</if>
		<if test="createdEnd!=null"> and created &lt;= #{createdEnd}</if>
		<if test="modifiedBegin!=null"> and modified &gt;= #{modifiedBegin}</if>
		<if test="modifiedEnd!=null"> and modified &lt;= #{modifiedEnd}</if>
		<if test="keyword!=null and keyword!=''"> and username like CONCAT('%',#{keyword},'%')</if>
	</sql>

	<sql id="simple_query" >
		select
			<include refid="Base_Column_List" />
		from admin
			<include refid="simple_where" />
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy} <if test="!asc">desc</if>
		</if>

	</sql>

	<select id="pageQuery" resultMap="Admin">
		<include refid="simple_query" />
	</select>

	<select id="queryList" resultMap="Admin">
		<include refid="simple_query" />
	</select>

	<select id="queryOne" resultMap="Admin">
		<include refid="simple_query" />
	</select>

	<select id="queryCount" resultType="long">
		select 
		<choose>
			<when test="SUM!=null">
				sum(${SUM})
			</when>
			<otherwise>
				count(1)
			</otherwise>
		</choose>
		from admin
		<include refid="simple_where" />
	</select>

	<select id="findById" resultMap="Admin">
		select
			<include refid="Base_Column_List" />
		from admin
			where id=#{id}
	</select>

	<select id="exist" resultType="boolean">
		select 
			count(1)
		from 
			admin
		<include refid="simple_where" />
		limit 1
	</select>

	<insert id="save">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into admin (
			id,username,passwd,remark,type,enabled,created,modified
		)values(
			#{id},#{username},#{passwd},#{remark},#{type},#{enabled},#{created},#{modified}
		)
	</insert>
	
	<update id="update">
		update 
			admin
		set 
			username=#{username},passwd=#{passwd},remark=#{remark},type=#{type},enabled=#{enabled},created=#{created},modified=#{modified}
		where 
			id=#{id}
	</update>

	<delete id="delete">
        delete from admin where id=#{id}
    </delete>

    <delete id="condDelete">
        delete from admin
		<include refid="simple_where" />
    </delete>

	<!--  -->
	
</mapper>