<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.fund.extension.dao.DepositAddrExtMapper">

    <select id="getAddressByUserIdAndAsset" resultType="java.lang.String">
        SELECT address FROM deposit_addr
       <where>
            enabled=1
            and user_id=#{userId}
            AND asset=#{asset}
       </where>
    </select>


    <select id="getAddresses" resultType="com.hp.sh.expv3.fund.extension.vo.AddressVo">
        SELECT address,user_id userId FROM deposit_addr
         where   enabled=1
          and user_id=#{userId}
          AND asset=#{asset}
    </select>

</mapper>