<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.fund.extension.dao.FundTransferExtMapper">

    <select id="queryHistory" resultType="com.hp.sh.expv3.fund.extension.vo.FundTransferExtVo">
    SELECT id transferId,asset,  amount qty,created,status,src_account_type  fromAccount,target_account_type toAccount FROM fund_transfer
        <where>
            <if test="userId!=null">
                user_id=#{userId}
            </if>
            <if test="asset!=null and asset!=''">
                and asset=#{asset}
            </if>

            <choose>
                <when test="pageStatus==1 and pageSize!=null and queryId!=null">
                    and id &lt;  #{queryId}
                    ORDER BY id desc
                    LIMIT 0,${pageSize}
                </when>
                <when test="pageStatus==-1 and pageSize!=null and queryId!=null">
                    and id &gt;= #{queryId}
                    ORDER BY id asc
                    LIMIT 0,${pageSize}
                </when>
                <otherwise>
                    ORDER BY id desc
                    LIMIT 0,${pageSize}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="queryList" resultType="com.hp.sh.expv3.fund.extension.vo.FundTransferExtVo">
         SELECT id transferId,asset,  amount qty,created,status,src_account_type  fromAccount,target_account_type toAccount
         FROM fund_transfer
        <where>

            <if test="userId!=null">
                user_id=#{userId}
            </if>

            <if test="asset!=null and asset!=''">
                and asset=#{asset}
            </if>
        </where>

    </select>

</mapper>