<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.fund.extension.dao.WithdrawalRecordExtMapper">

    <sql id="simple_where">
        <where>
            <if test="idList!=null">
                and id in
                <foreach item="item" index="i" collection="idList" open="("
                         separator="," close=")">
                    #{idList[${i}]}
                </foreach>
            </if>
            <if test="payStatusList!=null">
                and pay_status in
                <foreach item="item" index="i" collection="payStatusList" open="("
                         separator="," close=")">
                    #{payStatusList[${i}]}
                </foreach>
            </if>
            <if test="userIdList!=null">
                and user_id in
                <foreach item="item" index="i" collection="userIdList" open="("
                         separator="," close=")">
                    #{userIdList[${i}]}
                </foreach>
            </if>
            <if test="userId!=null"> and user_id=#{userId}</if>
            <if test="payStatus!=null"> and pay_status=#{payStatus}</if>
            <if test="createdBegin!=null and createdBegin!=''"> and created &gt;= #{createdBegin}</if>
            <if test="createdEnd!=null and createdEnd!=''"> and created &lt;= #{createdEnd}</if>
            <if test="modifiedBegin!=null and modifiedBegin!=''"> and modified &gt;= #{modifiedBegin}</if>
            <if test="modifiedEnd!=null and modifiedEnd!=''"> and modified &lt;= #{modifiedEnd}</if>

        </where>
    </sql>

    <select id="getFrozenCapital" resultType="java.math.BigDecimal">
      SELECT IFNULL(SUM(amount),0) from withdrawal_record
        <where>
        <if test="userId!=null">
              user_id=#{userId}
        </if>
        <if test="asset!=null and asset!=''">
            AND asset=#{asset}
        </if>
        AND pay_status NOT IN (1,2);
        </where>
    </select>

    <select id="queryHistory" resultType="com.hp.sh.expv3.fund.extension.vo.WithdrawalRecordVo">
        select id,asset symbol,  amount, approval_status  status,created,account,user_id userId,asset,pay_status payStatus
        FROM withdrawal_record
        <where>
            <if test="userId!=null">
                user_id=#{userId}
            </if>
            <if test="asset!=null and asset!=''">
                and asset=#{asset}
            </if>

            <choose>
                <when test="pageStatus==1 and pageSize!=null and queryId!=null">
                    and id &lt;  #{queryId}
                    ORDER BY id desc
                    LIMIT 0,${pageSize}
                </when>
                <when test="pageStatus==-1 and pageSize!=null and queryId!=null">
                    and id &gt;= #{queryId}
                    ORDER BY id asc
                    LIMIT 0,${pageSize}
                </when>
                <otherwise>
                    ORDER BY id desc
                    LIMIT 0,${pageSize}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="queryHistoryByTime" resultType="com.hp.sh.expv3.fund.extension.vo.WithdrawalRecordVo">
      select id,asset symbol,  amount, pay_status  status,created,account,user_id userId,asset
        FROM withdrawal_record
        <where>
            <if test="userId!=null">
                and user_id=#{userId}
            </if>
            <if test="asset!=null and asset!=''">
                and asset=#{asset}
            </if>
            <if test="payStatus!=null">  AND pay_status&lt;&gt; #{payStatus}</if>
            <if test="createdBegin!=null"> and created &gt;= #{createdBegin}</if>
            <if test="createdEnd!=null"> and created &lt;= #{createdEnd}</if>
            <if test="modifiedBegin!=null"> and modified &gt;= #{modifiedBegin}</if>
            <if test="modifiedEnd!=null"> and modified &lt;= #{modifiedEnd}</if>

        </where>
    </select>

    <select id="queryLastHistory" resultType="com.hp.sh.expv3.fund.extension.vo.WithdrawalRecordVo">
        select id,asset,   amount, pay_status  status,created,account,user_id userId
        FROM withdrawal_record
        <where>
            <if test="userId!=null">
                user_id=#{userId}
            </if>
            <if test="asset!=null and asset!=''">
                and asset=#{asset}
            </if>
        </where>
        ORDER BY id desc
        LIMIT 1
    </select>

    <select id="queryByUserIdAndAsset" resultType="com.hp.sh.expv3.fund.extension.vo.WithdrawalRecordVo">
        select id, user_id,asset ,  amount, pay_status  status,created,account
        FROM withdrawal_record
        <where>
            <if test="userId!=null">
                user_id=#{userId}
            </if>
            <if test="asset!=null and asset!=''">
                and asset=#{asset}
            </if>
        </where>
        ORDER BY id desc
    </select>


    <select id="queryList" resultType="com.hp.sh.expv3.fund.extension.vo.WithdrawalRecordVo">
        select id, user_id,asset ,  amount, pay_status  status,created,account ,created ctime
        FROM withdrawal_record
        <where>
            <if test="userId!=null">
                user_id=#{userId}
            </if>
            <if test="asset!=null and asset!=''">
                and asset=#{asset}
            </if>
            <if test="modifiedBegin!=null"> and modified &gt;= #{modifiedBegin}</if>
            <if test="modifiedEnd!=null"> and modified &lt;= #{modifiedEnd}</if>
            <if test="approvalStatus!=null"> and approval_status=#{approvalStatus}</if>
        </where>
        ORDER BY id desc
    </select>

</mapper>