<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.sh.expv3.bb.module.trade.dao.BBMatchedTradeDAO">

	<resultMap type="com.hp.sh.expv3.bb.module.trade.entity.BBMatchedTrade" id="BBMatchedTrade">
		<result column="match_tx_id" property="matchTxId" />
		<result column="symbol" property="symbol" />
		<result column="asset" property="asset" />
		<result column="tk_bid_flag" property="tkBidFlag" />
		<result column="tk_account_id" property="tkAccountId" />
		<result column="tk_order_id" property="tkOrderId" />
		<result column="mk_account_id" property="mkAccountId" />
		<result column="mk_order_id" property="mkOrderId" />
		<result column="price" property="price" />
		<result column="number" property="number" />
		<result column="trade_time" property="tradeTime" />
		<result column="maker_handle_status" property="makerHandleStatus" />
		<result column="taker_handle_status" property="takerHandleStatus" />
		<result column="id" property="id" />
		<result column="created" property="created" />
		<result column="modified" property="modified" />
	</resultMap>

	<sql id="Base_Column_List" >
		match_tx_id,symbol,asset,tk_bid_flag,tk_account_id,tk_order_id,mk_account_id,mk_order_id,price,number,trade_time,maker_handle_status,taker_handle_status,id,created,modified
	</sql>

	<sql id="simple_where" >
		<where>
		<if test="matchTxId!=null"> and match_tx_id=#{matchTxId}</if>
		<if test="tkBidFlag!=null"> and tk_bid_flag=#{tkBidFlag}</if>
		<if test="tkAccountId!=null"> and tk_account_id=#{tkAccountId}</if>
		<if test="tkOrderId!=null"> and tk_order_id=#{tkOrderId}</if>
		<if test="mkAccountId!=null"> and mk_account_id=#{mkAccountId}</if>
		<if test="mkOrderId!=null"> and mk_order_id=#{mkOrderId}</if>
		<if test="tradeTime!=null"> and trade_time=#{tradeTime}</if>
		<if test="makerHandleStatus!=null"> and maker_handle_status=#{makerHandleStatus}</if>
		<if test="takerHandleStatus!=null"> and taker_handle_status=#{takerHandleStatus}</if>
		<if test="id!=null"> and id=#{id}</if>
		<if test="created!=null"> and created=#{created}</if>
		<if test="modified!=null"> and modified=#{modified}</if>
		<if test="keyword!=null and keyword!=''"> and CONCAT(IFNULL(symbol,''),IFNULL(asset,''),'') like CONCAT('%',#{keyword},'%')</if>	</where>
	</sql>

	<sql id="simple_query" >
		select
			<include refid="Base_Column_List" />
		from bb_trade
			<include refid="simple_where" />
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy} <if test="!asc">desc</if>
		</if>

	</sql>

	<select id="pageQuery" resultMap="BBMatchedTrade">
		<include refid="simple_query" />
	</select>

	<select id="queryList" resultMap="BBMatchedTrade">
		<include refid="simple_query" />
	</select>

	<select id="queryOne" resultMap="BBMatchedTrade">
		<include refid="simple_query" />
	</select>

	<select id="queryCount" resultType="long">
		select 
		<choose>
			<when test="SUM!=null">
				sum(${SUM})
			</when>
			<otherwise>
				count(1)
			</otherwise>
		</choose>
		from bb_trade
		<include refid="simple_where" />
	</select>

	<select id="findById" resultMap="BBMatchedTrade">
		select
			<include refid="Base_Column_List" />
		from bb_trade
			where id=#{id}
	</select>

	<select id="exist" resultType="long">
		select EXISTS(
			select 
				1
			from 
				bb_trade
			where
				mk_order_id=#{mkOrderId} and tk_order_id=#{tkOrderId}
			limit 1
		)
	</select>

	<insert id="save">
		insert into bb_trade (
			match_tx_id,symbol,asset,tk_bid_flag,tk_account_id,tk_order_id,mk_account_id,mk_order_id,price,number,trade_time,maker_handle_status,taker_handle_status,id,created,modified
		)values(
			#{matchTxId},#{symbol},#{asset},#{tkBidFlag},#{tkAccountId},#{tkOrderId},#{mkAccountId},#{mkOrderId},#{price},#{number},#{tradeTime},#{makerHandleStatus},#{takerHandleStatus},#{id},#{created},#{modified}
		)
	</insert>
	
	<update id="update">
		update 
			bb_trade
		set 
			match_tx_id=#{matchTxId},symbol=#{symbol},asset=#{asset},tk_bid_flag=#{tkBidFlag},tk_account_id=#{tkAccountId},tk_order_id=#{tkOrderId},mk_account_id=#{mkAccountId},mk_order_id=#{mkOrderId},price=#{price},number=#{number},trade_time=#{tradeTime},maker_handle_status=#{makerHandleStatus},taker_handle_status=#{takerHandleStatus},id=#{id},created=#{created},modified=#{modified}
		where 
			id=#{id}
	</update>

	<delete id="delete">
        delete from bb_trade where id=#{id}
    </delete>

    <delete id="condDelete">
        delete from bb_trade
		<include refid="simple_where" />
    </delete>

	<!--  -->
	
	<select id="queryPending" resultMap="BBMatchedTrade">
		select
			<include refid="Base_Column_List" />
		from 
			bb_trade 
		where 
			created &gt;= #{startTime}
			<if test="userId!=null"> and (tk_account_id=#{userId} or mk_account_id=#{userId})</if>
			<if test="startId!=null"> and id &gt;= #{startId} </if>
			and (maker_handle_status=0 or taker_handle_status=0)
			order by id asc
	</select>
	
	<update id="setMakerHandleStatus">
		update 
			bb_trade
		set 
			maker_handle_status=#{makerHandleStatus},modified=#{modified}
		where 
			id=#{id}
	</update>
	
	<update id="setTakerHandleStatus">
		update 
			bb_trade
		set 
			taker_handle_status=#{takerHandleStatus},modified=#{modified}
		where 
			id=#{id}
	</update>

</mapper>