<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hp.sh.expv3.bb.module.order.dao.BBOrderDAO">

	<resultMap type="com.hp.sh.expv3.bb.module.order.entity.BBOrder" id="BBOrder">
		<result column="asset" property="asset" />
		<result column="symbol" property="symbol" />
		<result column="bid_flag" property="bidFlag" />
		<result column="leverage" property="leverage" />
		<result column="volume" property="volume" />
		<result column="price" property="price" />
		<result column="order_type" property="orderType" />
		<result column="time_in_force" property="timeInForce" />
		<result column="fee_ratio" property="feeRatio" />
		<result column="client_order_id" property="clientOrderId" />
		<result column="fee" property="fee" />
		<result column="order_margin" property="orderMargin" />
		<result column="order_margin_currency" property="orderMarginCurrency" />
		<result column="status" property="status" />
		<result column="active_flag" property="activeFlag" />
		<result column="remark" property="remark" />
		<result column="cancel_time" property="cancelTime" />
		<result column="cancel_volume" property="cancelVolume" />
		<result column="fee_cost" property="feeCost" />
		<result column="filled_volume" property="filledVolume" />
		<result column="version" property="version" />
		<result column="create_operator" property="createOperator" />
		<result column="cancel_operator" property="cancelOperator" />
		<result column="user_id" property="userId" />
		<result column="id" property="id" />
		<result column="created" property="created" />
		<result column="modified" property="modified" />
	</resultMap>

	<sql id="Base_Column_List" >
		asset,symbol,bid_flag,leverage,volume,price,order_type,time_in_force,fee_ratio,client_order_id,fee,order_margin,order_margin_currency,status,active_flag,remark,cancel_time,cancel_volume,fee_cost,filled_volume,version,create_operator,cancel_operator,user_id,id,created,modified
	</sql>

	<sql id="simple_where">
		<where>
			<if test="idList!=null">
				and id in
				<foreach item="item" index="i" collection="idList" open="("
					separator="," close=")">
					#{idList[${i}]}
				</foreach>
			</if>
			<if test="userId!=null"> and user_id=#{userId}</if>
			
			<if test="asset!=null and asset!=''"> and asset=#{asset}</if>
			<if test="symbol!=null and symbol!=''"> and symbol=#{symbol}</if>
			
			<if test="clientOrderId!=null and clientOrderId!=''">and client_order_id=#{clientOrderId}</if>
			<if test="bidFlag!=null"> and bid_flag=#{bidFlag}</if>
			<if test="orderType!=null"> and order_type=#{orderType}</if>
			<if test="timeInForce!=null"> and time_in_force=#{timeInForce}</if>
			<if test="status!=null"> and status=#{status}</if>
			<if test="activeFlag!=null"> and active_flag=#{activeFlag}</if>
			<if test="cancelTimeStart!=null"> and cancel_time &gt;= #{cancelTimeStart}</if>
			<if test="cancelTimeEnd!=null"> and cancel_time &lt;= #{cancelTimeEnd}</if>
			<if test="createdStart!=null"> and created &gt;= #{createdStart}</if>
			<if test="createdEnd!=null"> and created &lt;= #{createdEnd}</if>
			<if test="modifiedStart!=null"> and modified &gt;= #{modifiedStart}</if>
			<if test="modifiedEnd!=null"> and modified &lt;= #{modifiedEnd}</if>
		</where>
	</sql>

	<sql id="simple_query" >
		select
			<include refid="Base_Column_List" />
		from bb_order
			<include refid="simple_where" />
		<if test="orderBy!=null and orderBy!=''">
			order by ${orderBy} <if test="!asc">desc</if>
		</if>

	</sql>

	<select id="pageQuery" resultMap="BBOrder">
		<include refid="simple_query" />
	</select>

	<select id="queryList" resultMap="BBOrder">
		<include refid="simple_query" />
	</select>

	<select id="queryOne" resultMap="BBOrder">
		<include refid="simple_query" />
	</select>

	<select id="queryCount" resultType="long">
		select 
		<choose>
			<when test="SUM!=null">
				sum(${SUM})
			</when>
			<otherwise>
				count(1)
			</otherwise>
		</choose>
		from bb_order
		<include refid="simple_where" />
	</select>

	<select id="findById" resultMap="BBOrder">
		select
			<include refid="Base_Column_List" />
		from bb_order
			where id=#{id} and user_id=#{userId}
	</select>

	<select id="lockById" resultMap="BBOrder">
		select
			<include refid="Base_Column_List" />
		from bb_order
			where id=#{id} and user_id=#{userId}
		for update
	</select>

	<select id="exist" resultType="boolean">
		select 
			count(1)
		from 
			bb_order
		<include refid="simple_where" />
		limit 1
	</select>

	<insert id="save">
		insert into bb_order (
			asset,symbol,bid_flag,leverage,volume,price,order_type,time_in_force,fee_ratio,client_order_id,fee,order_margin,order_margin_currency,status,active_flag,remark,cancel_time,cancel_volume,fee_cost,filled_volume,version,create_operator,cancel_operator,user_id,id,created,modified
		)values(
			#{asset},#{symbol},#{bidFlag},#{leverage},#{volume},#{price},#{orderType},#{timeInForce},#{feeRatio},#{clientOrderId},#{fee},#{orderMargin},#{orderMarginCurrency},#{status},#{activeFlag},#{remark},#{cancelTime},#{cancelVolume},#{feeCost},#{filledVolume},#{version},#{createOperator},#{cancelOperator},#{userId},#{id},#{created},#{modified}
		)
	</insert>
	
	<update id="update">
		update 
			bb_order
		set 
			asset=#{asset},symbol=#{symbol},bid_flag=#{bidFlag},leverage=#{leverage},volume=#{volume},price=#{price},order_type=#{orderType},time_in_force=#{timeInForce},fee_ratio=#{feeRatio},client_order_id=#{clientOrderId},fee=#{fee},order_margin=#{orderMargin},order_margin_currency=#{orderMarginCurrency},status=#{status},active_flag=#{activeFlag},remark=#{remark},cancel_time=#{cancelTime},cancel_volume=#{cancelVolume},fee_cost=#{feeCost},filled_volume=#{filledVolume},version=${version}+1,create_operator=#{createOperator},cancel_operator=#{cancelOperator},user_id=#{userId},id=#{id},created=#{created},modified=#{modified}
		where 
			id=#{id} and user_id=#{userId} and version=#{version}
	</update>

	<!--  -->
	
	<update id="updateStatus">
		update 
			bb_order
		set 
			status=#{newStatus}, modified=#{modified}, version=${version}+1
		where 
			id=#{orderId} and user_id=#{userId} and version=#{version}
	</update>
	
	<select id="queryActiveOrderList" resultMap="BBOrder">
		SELECT
			o.*
		FROM
			bb_active_order ao
		LEFT JOIN 
			bb_order o ON o.id = ao.id
		where 
			ao.user_id=#{userId}
			and ao.asset=#{asset}
			and ao.symbol=#{symbol}
	</select>

	<select id="queryPendingActiveOrders" resultMap="BBOrder">
		SELECT
			o.*
		FROM
			bb_active_order ao
		LEFT JOIN 
			bb_order o ON o.id = ao.id
		<where> 
			<if test="createdEnd!=null"> and created &lt;= #{createdEnd}</if>
			<if test="status!=null"> and status=#{status}</if>
			<if test="symbol!=null"> and ao.symbol=#{symbol}</if>
		</where>
			order by id asc
	</select>

</mapper>