<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

	<springProperty scope="context" name="rootLevel" source="log.root.level"/>
	<springProperty scope="context" name="rootAppender" source="log.root.appender"/>

	<property name="log.dir" value="/var/logs/exvp3/fund-account"></property>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%level] %d{yy-MM-dd HH:mm:ss.SSS} %logger - %line - [%X] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="out2File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出的文件名-->
        <file>${log.dir}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--归并日志文件输出的文件名-->
            <fileNamePattern>${log.dir}-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <!--文件最大1G-->
            <totalSizeCap>1GB</totalSizeCap>
            <!--归并日志文件最大大小-->
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %logger - %line - [%X] %msg%n</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
	<appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %logger - %line - [%X] %msg%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
        
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
			<level>ERROR</level>  
			<onMatch>ACCEPT</onMatch>  
			<onMismatch>DENY</onMismatch>  
		</filter>  
        
    </appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="springfox.documentation.spring" level="warn"></logger>
	
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="out2File" />
        </root>
    </springProfile>
    
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="out2File" />
            <appender-ref ref="errorFile" />
        </root>
        
		<logger name="com.hp.sh.expv3" level="info"></logger>
		<logger name="com.gitee.hupadev.base.spring.interceptor" level="debug"></logger>
        
    </springProfile>
    
    <springProfile name="local">
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
        
		<logger name="com.hp.sh.expv3" level="info"></logger>
		<logger name="com.gitee.hupadev.base.spring.interceptor" level="info"></logger>
        
    </springProfile>
	
</configuration>
